.flex.w-full.py-3.pb-6
  %h1.text-2xl.font-bold Checks
  .flex-grow.text-right.space-x-2
    - if @service.persisted? && policy(@service).update?
      = form_with(url: [@service.exercise, @service, :service_checks], class: 'inline-block') do |form|
        %button.leading-5.p-1.px-2.rounded-sm.text-white.bg-indigo-500{type: 'submit'}
          %i.fas.fa-plus.self-center
          Add network check

      = form_with(url: [@service.exercise, @service, :special_checks], class: 'inline-block') do |form|
        %button.leading-5.p-1.px-2.rounded-sm.text-white.bg-indigo-500{type: 'submit'}
          %i.fas.fa-plus.self-center
          Add special check

#checks-table.flex.flex-col.align-middle.border.border-gray-200.dark:border-gray-500.bg-white.dark:bg-gray-700.divide-y.divide-double.divide-gray-200.dark:divide-gray-500
  = render @service.service_checks.order(:created_at)
  = render @service.special_checks.order(:created_at)
