%section.grid.grid-cols-1.gap-6.xl:grid-cols-3.mt-2{disabled: @disabled}
  .col-span-1.font-lusitana
    .px-4.sm:px-0= description
  .mb-5.mt-0.col-span-2.rounded-md{class: @shadow && 'shadow'}= main
