.flex.flex-col.h-full.relative{ data: data_tags }
  -# .flex.items-center.pb-5.hidden
  -#   %label.relative.inline-flex.items-center.mb-4.cursor-pointer
  -#     %input.sr-only.peer{type: "checkbox", data: { action: 'change->map#change_mode'}}
  -#     .w-11.h-6.bg-red-600.rounded-full.peer.peer-focus:ring-4.peer-focus:ring-orange-300.dark:peer-focus:ring-orange-800.dark:bg-red-400.peer-checked:after:translate-x-full.peer-checked:after:border-white.after:absolute.after:bg-white.after:border-gray-300.after:border.after:rounded-full.after:h-5.after:w-5.after:transition-all.dark:border-gray-600.peer-checked:bg-red-600{:class => "after:content-[''] after:top-0.5 after:left-[2px]"}
  -#     %span.ml-3.text-gray-900.dark:text-gray-300 【﻿ｅｘｔｒａ　ｆｕｎ　？？】

  .bg-slate-50.grow{data: { 'map-target' => 'container' }}