DATABASE_URL=postgres://providentia:providentia_db_password@db/providentia?pool=5
REDIS_URL=redis://redis:6379/0
OIDC_ISSUER=https://path.to.openid.issuer
OIDC_CLIENT_ID=openid-client-id
OIDC_CLIENT_SECRET=openid-client-secret
OIDC_RESOURCE_PREFIX=Re_Providentia_
BASE_URI=https://fqdn.of.providentia
VIRTUAL_HOST=fqdn.of.providentia # used by nginx-proxy