.relative.inline-flex.items-center.px-4.py-2.border.border-gray-300.bg-white.text-sm.text-gray-500.hover:bg-gray-50
  - if current_page.last?
    %i.fas.fa-angle-right
  - else
    = link_to url, { rel: 'next', remote: remote } do
      %i.fas.fa-angle-right
