.grid.gap-6.grid-cols-2
  = f.input :numbered_by, NumberingOptions.result_for(@virtual_machine, hash: { as: :select,input_html: { data: { controller: 'select' } }, selected: @virtual_machine.numbered_by&.to_gid })
  = f.input :custom_instance_count