.grid.gap-6.grid-cols-2
  = f.input :deploy_mode, collection: deploy_modes, include_blank: false, disabled: @virtual_machine.forced_bt_numbering?, input_html: { data: { controller: 'select' } }
  = f.input :custom_instance_count