%ul
  - @tree.each do |node, subtree|
    %li.my-1{class: spacer_classes(node)}
      .flex
        %span.grow= node.name
        %span.inline-flex.items-center.text-xs.font-medium.mr-2.px-2.5.py-0.5.rounded-full{class: helpers.actor_color_classes(node.root)}
          = node.abbreviation
      = render ActorTreeComponent.new(tree: subtree)
