.w-full.px-4.py-3.mx-auto.bg-white.rounded-md.shadow-md.dark:bg-gray-800.flex.flex-col{class: environment.archived? && 'opacity-50'}
  .flex.items-center.justify-between
    %h1.mt-2.text-lg.font-semibold.text-gray-800.dark:text-white= link_to_if Pundit.policy(UserContext.new(current_user, environment), environment).show?, environment.name, environment
    %span.px-3.py-1.text-xs.text-indigo-800.uppercase.bg-indigo-200.rounded-full.dark:bg-indigo-300.dark:text-indigo-900= environment.abbreviation
  .flex-grow
    %p.mt-2.text-sm.text-gray-600.dark:text-gray-300= environment.description
