- if policy(Capability.new(exercise: @exercise)).create?
  - provide :new_url do
    = url_for [:new, @exercise, :capability]


- if @capabilities.any?
  - blah = @capabilities.group_by(&:actor)
  = render 'result_set', actor: nil, capabilities: blah[nil]
  - @actors.each do |actor|
    - next unless blah[actor]
    = render 'result_set', actor:, capabilities: blah[actor]

- else
  = render 'shared/empty', klass: Capability
