- if policy(Capability.new(exercise: @exercise)).create?
  - provide :new_url do
    = url_for [:new, @exercise, :capability]


- if @capabilities.any?
  - grouped_caps = @capabilities.group_by(&:actor)
  = render 'result_set', actor: nil, capabilities: grouped_caps[nil] if grouped_caps[nil]
  - @actors.each do |actor|
    - next unless grouped_caps[actor]
    = render 'result_set', actor:, capabilities: grouped_caps[actor]

- else
  = render 'shared/empty', klass: Capability
